doctype html
html
  body
    h1 Tutor Page
    form(method='POST', action='/tutor/create')
      br
      | Topic:
      input#title_text(name='title_text', placeholder='Enter your topic')
      br
      br
      | Detail:
      br
      textarea#detail_text(name='detail_text', placeholder='Enter your detail')
      br
      input(type='submit', value='post', name='submit_text')
      br
