doctype html
html
  title HomePage
  body
    h1 Home Page
    form(method='POST', action='/tutor')
      input(type='submit', name='tutor_button', value='Tutor')
    
    form(method='POST', action='/')
      input(type='submit', name='Examination_button', value='Examination')
    
          
        
