 <title>HomePage</title>

{% block body %}
    <h1>Home Page</h1>
    <form method="GET" action="/tutor">
        <input type="submit" name="tutor_button" value="Tutor">
    </form>
    <form method="GET" action="/">
        <input type="submit" name="Examination_button" value="Examination">
    </form>
    <form method="GET" action="/about">
        <input type="submit" name="about_button" value="About">
    </form>
{% endblock %}
