
<title>TutorPage</title>

{% block body %}
    <h1>Tutor Page</h1>
    <form method="POST" action="/tutor/createPost">
        <input type="submit" name="post_button" value="Create Post">
    </form>
    {% for i in topic_list %}

        <a href="http://localhost:3000/tutor/detail/{{i.id}}">{{i.title}}</a>
        <br>
        <br>
    {% endfor %}
 
 
{% endblock %}
